In [2]:
#import required libraries
from bs4 import BeautifulSoup
import requests

In [3]:
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
r1 = requests.get(url)                    #getting url
soup1 = BeautifulSoup(r1.content, "lxml")

In [4]:
print(type(r1))
print(type(soup1))

<class 'requests.models.Response'>
<class 'bs4.BeautifulSoup'>

In [5]:
soup1.title

In [6]:
for heading in soup1.find_all('h1'):
    print(heading.text)

Top Rated Movies

In [7]:
for heading in soup1.find_all('h3'):
    print(heading.text)

IMDb Charts
You Have Seen
 IMDb Charts
 Top India Charts
Top Rated Movies by Genre
Recently Viewed

In [8]:
soup1.find_all('h2')

[]

In [9]:
a_soup = soup1.find(string = 'The Godfather')
a_soup

'The Godfather'

In [10]:
a_soup.find_parents('a')

In [11]:
a_soup.find_parents('td')

[<td class="titleColumn">
       2.
       <a href="/title/tt0068646/" title="Francis Ford Coppola (dir.), Marlon Brando, Al Pacino">The Godfather</a>
 <span class="secondaryInfo">(1972)</span>
 </td>]

In [12]:
text = soup1.get_text()
#soup1.text

In [14]:
from lxml import etree              #librari required for xpath
dom = etree.HTML(str(soup1))

In [16]:
title=dom.xpath('//td[@class="titleColumn"]//a')
a = []
for i in range(len(title)):
    a.append(title[i].text)
    
#a

In [17]:
title1=dom.xpath('//td[@class="titleColumn"]//span')
b = []
for i in range(len(title1)):
    b.append(title1[i].text)
    
#b

In [18]:
title2=dom.xpath('//*[@id="main"]//td[@class="ratingColumn imdbRating"]//strong')
c = []
for i in range(len(title2)):
    c.append(title2[i].text)
    
#c

In [19]:
import pandas as pd     
df = pd.DataFrame(
    {
    "Title": a,
    "Released Year": b,
    "Imdb Rating": c
    })                         #Creating Dataframe
df

                             Title Released Year Imdb Rating
0         The Shawshank Redemption        (1994)         9.2
1                    The Godfather        (1972)         9.1
2           The Godfather: Part II        (1974)         9.0
3                  The Dark Knight        (2008)         9.0
4                     12 Angry Men        (1957)         8.9
..                             ...           ...         ...
245                     Hera Pheri        (2000)         8.0
246             The Princess Bride        (1987)         8.0
247  Sunrise: A Song of Two Humans        (1927)         8.0
248                       Drishyam        (2013)         8.0
249          Miracle in Cell No. 7        (2019)         8.0

[250 rows x 3 columns]

In [28]:
df.to_csv("Imdb of Top-250 movies.csv", index=False)         # saving the dataframe

In [29]:
df1 = pd.read_csv("Imdb of Top-250 movies.csv")
df1

                             Title Released Year  Imdb Rating
0         The Shawshank Redemption        (1994)          9.2
1                    The Godfather        (1972)          9.1
2           The Godfather: Part II        (1974)          9.0
3                  The Dark Knight        (2008)          9.0
4                     12 Angry Men        (1957)          8.9
..                             ...           ...          ...
245                     Hera Pheri        (2000)          8.0
246             The Princess Bride        (1987)          8.0
247  Sunrise: A Song of Two Humans        (1927)          8.0
248                       Drishyam        (2013)          8.0
249          Miracle in Cell No. 7        (2019)          8.0

[250 rows x 3 columns]